<article id="error" class="window window-error">
    <h2>Oops! This page does not exist...</h2>
    <img src="images/dragon-empty.png" alt="Drawing of a dragon raising his shoulders in question">
    <a href="#home" class="btn">Return to home</a>
</article>