<noscript>
    <section class="window-nojs">
        <h2>Oops! This app needs Javascript to function!</h2>
        <img src="images/dragon-empty.png" alt="Drawing of a dragon raising his shoulders in question">
        <a href="https://support.google.com/adsense/answer/12654?hl=en" class="btn">Learn how to turn on Javascript</a>
    </section>
</noscript> 