<section class="home-container">
    <section class="animContainer main-title">
        <canvas id="canvas-dragon-title" width="100" height="100"></canvas>
    </section>
    
    <a href="/story" class="btn btn-story">
        <h3>Read random story</h3>
    </a>

    <h3>Featured story</h3>

    <a href="/story/5fce30db59830a875dba5cc6" class="btn btn-featured" data-story-id="5fce30db59830a875dba5cc6">
        <div>
            <h4>Belling the Cat</h4>
            <p>By Aesop's Fables</p>
        </div>
    </a>

    <div class="settings">
        <a href="/saved" class="btn">
            Saved stories
        </a>
        <a href="/credits" class="btn">
            Credits
        </a>
    </div>
</section>