<article id="saved" class="window window-saved">
    <a href="/" class="nav-back"></a>

    <h2>Saved stories</h2>

    <section class="saved-content">
        {{#if stories}}
        hii
            {{#each stories}}
                {{>story-button this}}
            {{/each}}
        {{/if}}
    </section>

</article>