<article id="saved" class="window window-saved">
    <a href="/" class="nav-back"></a>

    <h2>Saved stories</h2>

    <section class="saved-content">
        {{#if savedStories}}
            {{#each savedStories}}
                {{>story-button this}}
            {{/each}}
        {{else}}
            {{>empty}}
        {{/if}}
    </section>

</article>