<article id="saved" class="window window-saved">
    <a href="/" class="nav-back"></a>

    <h2>Saved stories</h2>

    <section class="saved-content">
        {{#each savedStories}}
            {{> story-button}}
        {{/each}}
    </section>

</article>