<article id="story" class="window window-story">
    <a href="/" class="nav-back"></a>


    {{#if loading}}
        {{>story-loading}}
    {{/if}}

    {{#unless loading}}
        {{>story-success story}}
    {{/unless}}

</article>
